## Components GuideLines


# poject background
project name:  발달 장애인 관련 물류 및 재고 관리 앱/웹 기획서

카페쿠피라는 회사는 장애인 표준 사업장으로 발달장애인이 커피점에서 일을 합니다.
이 발달장애인을 돕기 위한 물류 및 재고 관리 앱과 웹을 기획해야합니다. 그러기 위해서는 
현재 카페쿠피라는 회사의 상황을 먼저 알고 있어야합니다.

카페쿠피는 3개의 직책을 가지고 있습니다 그 직책에 대해서 설명드립니다
1. 매장 장애인 직원
2. 창고 장애인 직원
3. 1과2를 관리하는 비장애인 관리자 
지금부터 이를 편하게 이야기 하기 위해서 매장직원 창고직원 관리자로 부르겠습니다.


발주 프로세스를 설명하기 전에 다음과 같이 헷갈리는 용어를 먼저 정리하겠습니다.
1.매장 발주는 매장에서 창고로 발주를 넣는 것 
2.창고 발주는 창고에서 협력사로 발주를 넣는 것 
3.창고 입고는 창고에 입고를 하는 것
4.창고 출고는 창고에서 매장으로 상품을 출고 하는 것 


변경하고자 하는 발주 프로세스는 다음과 같습니다.
1.창고 직원은 협력사에 창고 발주를 합니다. 
2.창고 직원은 협력사에게 물건을 받아 창고 입고를 합니다. 
3.매장 직원이 매장 발주를 하면 창고 직원은 창고 재고를 매장으로 창고 출고합니다.




현재 카페쿠피가 해결해야하는 문제는 다음과 같습니다.
1. 관리자가 매장을 재고 관리를 한 눈에 파악 할 수 있는 대시보드
2. 매장 직원과 창고 직원들의 니즈를 파악한 앱으로 발주 및 입고 관리 등


### ShadCN Components \

- 모든 UI 컴포넌트는 ShadCN을 사용해야합니다.
- 컴포넌트 사용 전 열치 여부를 확인해야 합니다: '/src/components/ui' 디렉토리 체크
- 컴포넌트 설치 명령어를 사용해야합니다: 'npx shadcn@latest add [component-name]'
- 주의! `npx shadcn@latest add` 명령어는  deprecated. 반드시 `npx shadcn@latest add` 사용해야합니다. 

### Recyclings
- 컴포넌트는 재사용 가능하도록 설계해야합니다.
- 컴포넌트는 'src/components' 디렉토리에 위치해야합니다.
- UI 컴포넌트는 'src/components/ui' 디렉토리에 위치해야합니다.
- 차 후 API를 활용하여 api 데이터가 들어올 것임으로, 전역변수로 하나의 ip로 설정합니다. 
