.wg-container {
  padding: 0;
  max-width: 96%;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  text-align: left;
  position: relative;
}

.nowrap {
  white-space: nowrap;
}

.wg-number-col {
  width: 12px;
  text-align: center;
}

.wg-supplier-col {
  width: 140px;
  text-align: left;
}

.wg-item-col {
  width: 460px;
  text-align: left;
}

.wg-spec-col {
  word-break: break-all;
  width: 300px;
  text-align: left;
}

.big-table th.wg-price-col,
.big-table td.wg-price-col,
.big-table th.wg-inunitprice-col,
.big-table td.wg-inunitprice-col,
.big-table th.wg-previnv-col,
.big-table th.wg-week-col,
.big-table td.wg-week-col,
.big-table th.wg-month-col,
.big-table td.wg-month-col,
.big-table th.wg-sum-col,
.big-table td.wg-sum-col,
.big-table th.wg-cost-col,
.big-table td.wg-cost-col {
  min-width: 60px;
}

.big-table th.wg-number-col,
.big-table th.wg-supplier-col,
.big-table th.wg-item-col,
.big-table th.wg-spec-col,
.big-table th.wg-price-col,
.big-table th.wg-inunitprice-col,
.big-table th.wg-previnv-col,
.big-table th.wg-week-col,
.big-table th.wg-month-col,
.big-table th.wg-sum-col,
.big-table th.wg-cost-col {
  font-size: 15px;
}

/* 셀 값 오른쪽 정렬 스타일 */
.wg-price-col {
  text-align: right;
}

.wg-inunitprice-col,
.wg-previnv-col,
.wg-week-col,
.wg-month-col,
.wg-sum-col,
.wg-cost-col {
  text-align: right;
}
