.wc-container {
  padding: 0;
  max-width: 1250px;
  margin: 0 auto;
  font-family: Arial, sans-serif;
  text-align: left;
  position: relative;
}

.nowrap {
  white-space: nowrap;
}

.wc-number-col {
  width: 12px;
  text-align: center;
}

.wc-supplier-col {
  width: 140px;
  text-align: left;
}

.wc-item-col {
  width: 460px;
  text-align: left;
}

.wc-spec-col {
  word-break: break-all;
  width: 300px;
  text-align: left;
}

.big-table th.wc-price-col,
.big-table td.wc-price-col,
.big-table th.wc-inunitprice-col,
.big-table td.wc-inunitprice-col,
.big-table th.wc-previnv-col,
.big-table th.wc-week-col,
.big-table td.wc-week-col,
.big-table th.wc-month-col,
.big-table td.wc-month-col,
.big-table th.wc-sum-col,
.big-table td.wc-sum-col,
.big-table th.wc-cost-col,
.big-table td.wc-cost-col {
  min-width: 55px;
}

/* 셀 값 오른쪽 정렬 스타일 */
.wc-price-col {
  text-align: right;
}

.wc-inunitprice-col,
.wc-previnv-col,
.wc-week-col,
.wc-month-col,
.wc-sum-col,
.wc-cost-col {
  text-align: right;
}

/* ───────────────────────────────────────────── */
/* 강조: 1주차 ~ 5주차 입고 열 스타일 */
/* ───────────────────────────────────────────── */
/* .big-table td.wc-week-col:nth-of-type(8) {
  border-left: 2px solid #8b000062;
}

.big-table td.wc-week-col:nth-of-type(12) {
  border-right: 2px solid #8b000062;
}  */
